{% extends "base.html" %}

{% block titre %}Wiki{% endblock titre %}

{% block content %}

<div class="content">

<h2>Wiki</h2>

<br />

<h3>Instruções de preenchimento da ficha</h3>
<br />
<p><b>Parte A: Identificação</b></p>

<p>Morada, Código Postal, Telefones, Telemóveis:</p>

<p>Preencher dados correspondentes à morada e contatos telefónicos do organismo.</p>

<p>Preencher o e-mail principal do organismo que poderá ser semelhante ao do utilizador.</p>

<p>Indicar o NIF do organismo com os 9 digitos.</p>

<p>Apontar data da publicação dos estatutos em Diário da República.</p>

<p>Escolher a opção relativamente ao estatuto de utilidade pública, no caso positivo
 preencher o campo seguinte com indicação da data da respetiva publicação.
</p>

<p>Em observação indicar aspetos que entenda importantes na situação do organismo, 
	nomeadamente quanto a palmarés recente e participações em competições de relevo.
</p>

<hr />
<p><b>Parte B: Direcção</b></p>
<p>Indicar nomes dos principais membros da direção: presidente, secretário, tesoureiro.</p>

<p>Preencher data da eleição e indicar o termo do mandato em anos ou por data.</p>

<p>Apontar número de sócios com quotas em dia e com quotas em atraso.</p>

<hr />
<p><b>Parte C: Orçamento</b></p>

<p>Preencher em "despesas com instalações desportivas" as correspondentes a gastos com 
instalações de desporto, sejam estes rendas ou taxas, água, energia elétrica, ou outros.
</p>

<p>Em "despesas com atividades" deverão incluir-se as diretamente relacionadas com o 
	desenvolvimento das atividades desportivas: inscrições de atletas, transportes,
	 gastos correntes com atividades, etc.
</p>

<p>Serão "despesas com outras atividades" as referentes a atividades não desportivas que o 
	organismo promova.	
</p>

<p>"Outras despesas" compreendem outros gastos não incluídos em atividades desportivas ou não 
	desportivas e que representem encargo para o organismo, inclui-se aqui, por exemplo,
	as despesas com rendas de sede, despesas de estrutura e outras.
</p>

<p>Preencher "despesas de investimento" com os dados referentes a aquisição de materiais, 
	equipamentos desportivos de longa duração bem como a beneficiação, recuperação de
	 infraestruturas desportivas.
<hr />

<p><b>Parte D: Equipas</b></p>

<p>Esta página apresenta ligações para introdução de dados referentes a cada uma das equipas
	registadas.<br />Poderá ainda proceder à criação do registo de uma nova equipa.
</p>
<p>A definição de equipa dependerá do critério adotado, mas esclareça-se que uma equipa 
	poderá ser constituída por apenas um indivíduo.
</p>
<p>Na página da Equipa encontrará:</p>

<ul>
	<li>Inscrever designação da equipa e em seguida escolher a modalidade</li>
	<li>Indicar número de praticantes, preencher grupo etário da equipa e escolher o sexo.</li>
	<li>Escolher nível competitivo entre local, regional/distrital e nacional.</li>
	<li>Apresentar disciplina da modalidade que é praticada pela equipa.</li>
	<li>Preencher o nome do treinador ou técnico que orienta a equipa e em seguida 
		indicar o grau de formação.</li>
	<li>Apontar ano do curso de formação do treinador/técnico.</li>
	<li>Incluir resultados obtidos no ano anterior.</li>
</ul>

<hr />

</div>

{% endblock content %}
