{% extends "base.html" %}

{% load i18n %}

{% block titulo %}Contatos{% endblock titulo %}

{% block titre %}Contatos{% endblock titre %}

{% block content %}
<div class="content">
<h2>Contatos</h2>
<br />

<p>
Para experimentar esta ferramenta poderá enviar mensagem para: <br /><br />
<b>chartervu</b>( @ )<b>operamail</b>( . )<b>com</b> <br /><br />
<br />
Posteriormente poderá introduzir/alterar registos sendo o organismo fictício com a designação 
que for atribuída.
</p>

</div>
{% endblock content %}
