{% extends "base.html" %}
{% block titre %}Início{% endblock titre %}

{% block content %}
<div class="content">

<h2>Início</h2>

<br />

<p>
Esta Ficha-Demonstração é um exemplo demonstrativo das potencialidades
 de implementação de ferramentas de apoio à gestão das organizações desportivas.
</p>

<hr />

<p>
Este portal encontra-se em desenvolvimento pelo que algumas caraterísticas 
apenas serão incluídas em futuras atualizações.
</p>

<p>Este projeto faz uso da ferramenta Django (versão 1.2) criada com a linguagem Python.
</p>

<p>Nesta primeira forma poderão encontrar-se as seguintes funcionalidades:</p>

<ul>
	<li>criação de equipas,</li>
	<li>alteração de registos,</li>
	<li>relação elementar de 1 utilizador por organismo/registo global,</li>
	<li>acesso ao "backend" proporcionado pelo Django (ver 'Gestão da Ficha').</li>
</ul>

<p>O desenvolvimento desta ferramenta tem entre outros os seguintes 
	objetivos, a apresentar em futuras formas:
</p>

<ul>
	<li>endereços em forma de "slug",</li>
	<li>remover registos de equipas,</li>
	<li>exportação de registo em CSV para envio através de email,</li>
	<li>proporcionar o acesso de diversos utilizadores ao mesmo registo, para permitir 
		a introdução de dados de equipas,</li>
	<li>exportação de registo em PDF para envio através de email,</li>
	<li>funcionalidades dinâmicas,</li>
	<li>criação de "backend" para administração de registos,</li>
	<li>integração de plugins.</li>
</ul>

</div>
{% endblock content %}